---
---
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Blog | Context Information Security</title>
    <meta name="description" content="Blog">
    <link rel="canonical" href="https://www.contextis.com/en/blog">

    <meta name="author" content="https://www.contextis.com/en/">

    <link rel="stylesheet" media="all"
        href="{{ site.baseurl }}/assets/css/ctx.css">
    <!-- <link rel="stylesheet" type="text/css"
        href="{{ site.baseurl }}/assets/css/MyFontsWebfontsKit.css"> -->
    <meta name="theme-color" content="#ed1b2f">
    <script>
        // Picture element HTML5 shiv
        document.createElement("picture");
    </script>
</head>

<body class="page-index page-index-blog no-hero" id="body">
    <div class="container">
        <header class="banner">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar top-bar"></span>
                        <span class="icon-bar middle-bar"></span>
                        <span class="icon-bar bottom-bar"></span>
                    </button>
                    <a class="logo" href="{{ site.baseurl }}"
                        title="Context Information Security">
                        <img src="{{ site.baseurl }}/assets/images/contextis-part-of-accenture-security-logo.svg"
                            alt="Context Information Security Part of Accenture Security">
                    </a>
                </div><!-- /navbar-header -->

                <nav class="collapse navbar-collapse" id="navbar-collapse">

                    <ul class="nav navbar-nav navbar-nav-primary">

                        <!-- /dropdown -->

                        <li class="dropdown active">
                            <a href="{{ site.baseurl }}" class="dropdown-toggle"><span>
                                    Blog
                                    <svg class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" width="10"
                                        height="18">
                                        <path
                                            d="M9.682 8.79L2 1S1.447.553 1 1c-.447.447 0 1 0 1l7 7-7 7s-.478.522 0 1 1 0 1 0l7.678-7.572c.178-.175.178-.463.004-.638z">
                                        </path>
                                    </svg>
                                </span></a>
                        </li>

                        <li class="dropdown dropdown-contact ">
                            <a href="https://www.accenture.com/gb-en/about/contact-us" class="dropdown-toggle"><span>
                                    Contact
                                    <svg class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" width="10"
                                        height="18">
                                        <path
                                            d="M9.682 8.79L2 1S1.447.553 1 1c-.447.447 0 1 0 1l7 7-7 7s-.478.522 0 1 1 0 1 0l7.678-7.572c.178-.175.178-.463.004-.638z">
                                        </path>
                                    </svg>
                                </span></a>
                        </li><!-- /dropdown -->

                    </ul>

                    <ul class="nav navbar-nav navbar-nav-secondary">
                        <li><a href="{{ site.baseurl }}" class="nav-link-home">Home</a></li>
                        <li><a href="https://www.accenture.com/gb-en/services/security-index"
                                class="nav-link-about">About</a></li>
                        <li><a href="https://www.accenture.com/gb-en/services/security-index"
                                class="nav-link-news">News</a></li>
                        <li><a href="https://www.accenture.com/gb-en/careers"
                                class="nav-link-careers">Careers</a></li>


                    </ul>

                </nav><!-- /.navbar-collapse -->

            </div><!-- /navbar -->

        </header>

        <!-- top main -->
        <nav class="top-main">

        </nav>
        <!-- top main -->
    </div><!-- /container -->
    <div class="container">
        <main class="main">

            {{ content }}
            
        </main><!-- /main -->
    </div><!-- /container -->
    {% include footer.html %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="{{ site.baseurl }}/assets/js/validator.min.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/js/plugins-min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/onload-min.js"></script>

    <script src="{{ site.baseurl }}/assets/js/lazy.js"></script>
</body>
</html>